body {
    font-family: var(--primary-text-family);
    background: var(--primary-background-color);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*
 * Navigator
 */
.nav {
    border-bottom: 2px solid var(--border-color);
}
.nav nav {
    display: grid;
    grid-template-columns: 275px auto;
    gap: 25px;
    padding: 25px;
    box-sizing: border-box;
}
.nav nav > div:nth-child(2) {
    display: flex;
    justify-content: end;
}
.nav nav .dropdown {
    display: inline-block;
}
.nav nav .dropdown:hover .dropdown-items {
    display: block;
}
.nav nav .dropdown .dropdown-items {
    display: none;
    background-color: #2e3343;
    border: 2px solid #393e4e;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    border-radius: 10px;
}
.nav nav .dropdown .dropdown-items a {
    color: var(--primary-color-darker);
    font-size: 14px;
    display: block;
    padding: 7.5px 10px 7.5px 10px;
    border-radius: 0;
}
.nav nav .dropdown .dropdown-items a:hover {
    color: var(--accent-color);
    background: var(--primary-faded-color);
    cursor: pointer;
}
.nav nav .dropdown .dropdown-items a:hover i {
    transform: rotate(0deg);
}
.nav nav .dropdown .dropdown-items a i {
    font-size: 12px;
    padding-right: 10px;
}
.nav nav .dropdown .dropdown-items .divider {
    width: 100%;
    border-bottom: 2px solid #393e4e;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav nav img {
    position: absolute;
    margin-top: 5px;
}
.nav nav a {
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    font-weight: 600;
    transition: 0.1s;
    color: var(--primary-color);
}
.nav nav a:hover {
    color: var(--accent-color);
    background: var(--primary-faded-color);
    cursor: pointer;
}
.nav nav a:hover i {
    transform: rotate(180deg);
    margin-left: 5px;
}
.nav nav a  i {
    font-size: 12px;
    margin-left: 5px;
    transition: 0.1s;
}

/*
 * Header
 */
header img {
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: -9999;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0))); mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    opacity: 0.2;
}
.header {
    margin-top: 200px;
}
.header h1 {
    color: var(--primary-color);
    font-size: 26px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.header .header-description {
    color: var(--primary-color-darker);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}
.header .header-statistics {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.header .header-statistics i {
    color: var(--accent-color);
    font-size: 16px;
    border-radius: 100px;
}

/*
 * Homepage Serverlist
 */
.homepage-serverlist-header {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    margin-top: 225px;
    margin-bottom: 5px;
}
.homepage-serverlist-description {
    color: var(--primary-color-darker);
    font-size: 16px;
    margin-bottom: 20px;
}
.homepage-serverlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}
.homepage-serverlist > div {
    background: #63636314;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 10px;
}
.homepage-serverlist div .header {
    margin-top: 0;
    color: var(--primary-color);
    font-weight: 600;
}
.homepage-serverlist div .header i {
    color: var(--accent-color);
    font-size: 16px;
    border-radius: 100px;
}
.homepage-serverlist > div progress {
    width: 100%;
    height: 22px;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
    margin-top: 25px;
    border-radius: 10px;
}
.homepage-serverlist > div progress::-webkit-progress-bar {
    background-color: #bdbdbd21;
    border-radius: 7px;
}
.homepage-serverlist > div progress::-webkit-progress-value {
    background-color: var(--accent-color);
    border-radius: 7px;
}

/*
 * Homepage Statistics
 */
.homepage-statistics-header {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    margin-top: 125px;
    margin-bottom: 5px;
}
.homepage-statistics-description {
    color: var(--primary-color-darker);
    font-size: 16px;
    margin-bottom: 20px;
}
.homepage-statistics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}
.homepage-statistics > div {
    padding: 70px 25px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    text-align: center;
    color: var(--primary-color);
}
.homepage-statistics-amount {
    font-weight: 600;
    padding-top: 20px;
    font-size: 26px;
}

/*
 * Homepage Features
 */
.homepage-features-header {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    margin-top: 125px;
    margin-bottom: 5px;
}
.homepage-features-description {
    color: var(--primary-color-darker);
    font-size: 16px;
    margin-bottom: 20px;
}
.homepage-features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}
.homepage-features > div {
    padding: 25px 25px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #63636314;
    color: var(--primary-color);
}
.homepage-features > div .homepage-features-placeholder-header {
    font-weight: 600;
}
.homepage-features > div .homepage-features-placeholder-header i {
    padding: 20px;
    border-radius: 10px;
    background: var(--accent-color);
    font-weight: 600;
    margin-right: 15px;
}
.homepage-features > div .homepage-features-placeholder-description {
    padding-top: 25px;
    color: var(--primary-color-darker);
}

/*
 * Footer
 */
footer {
    width: 100%;
    border-top: 2px solid var(--border-color);
    padding: 50px 0;
    margin-top: 100px;
    padding-bottom: 60px;
}
footer .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer .footer > div {
    width: 100%;
    color: var(--primary-color);
    font-weight: 600;
    position: relative;
}
footer .footer > div:nth-child(2) {
    width: 100%;
    color: var(--primary-color);
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: end;
}
footer .footer > div img {
    position: absolute;
    margin-top: 15px;
}
footer .footer > div .copyrights {
    margin-left: 75px;
    margin-top: 30px;
}
footer .footer > div a {
    display: inline-block;
    padding: 25px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    margin-left: 10px;
    transition: 0.1s;
}
footer .footer > div a:hover {
    box-shadow: 0 0 10px var(--accent-color);
    cursor: pointer;
}

/*
 * Scrollbar
 */
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--accent-color);
    cursor: pointer;
}
